.app-container {
  display: flex;
  height: 100vh;
  background-color: var(--cor-fundo);
}

.main-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.conteudo {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
  background-color: var(--cor-muted);
}