<header class="navbar">
  <div class="navbar-conteudo">

    <a routerLink="/home" class="navbar-logo">
      <img src="logo-oficial.png" alt="Logo" height="100" />
    </a>

    <nav class="navbar-links">
      <a routerLink="/home" routerLinkActive="ativo">Home</a>
      <a routerLink="/sobre" routerLinkActive="ativo">Sobre</a>
      <a routerLink="/contato" routerLinkActive="ativo">Contato</a>
    </nav>

    <button mat-flat-button routerLink="/login" class="botao-entrar">
      Entrar no Sistema
    </button>

  </div>
</header>