.header {
  background-color: var(--cor-card);
  color: var(--cor-texto);
  border-bottom: 1px solid var(--cor-borda);
  box-shadow: none;

  .nome-usuario {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .perfil-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
  }

  .spacer {
    flex: 1;
  }
}